<p>
  <strong>Title:</strong><%=h @thought.title %>
</p>
<p>
  <strong>Description:</strong><%=h @thought.description %>
</p>
<p>
  <strong>User:</strong><%=h @thought.user_id %>
</p>

<%= link_to 'Edit', edit_object_url %>
|
<%= link_to 'Back', collection_url %>